<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Query</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='query.css'>
    <script src="{% static 'preferences/query.js' %}"></script>
</head>

<body>
    {{query}}

    <video width="400" loop autoplay muted>
        <source src="{{ video_url_left }}" type="video/webm">
        Your browser does not support HTML5 video.
    </video>
    <video width="400" loop autoplay muted>
        <source src="{{ video_url_right }}" type="video/webm">
        Your browser does not support HTML5 video.
    </video>
    <form method="post">
        {% csrf_token %}
        <button id='leftButton' type="submit" name="action" value="Left">Left</button>
        <button id= 'equalsButton'type="submit" name="action" value="Indifferent">Equal</button>
        <button id='skipButton' type="submit" name="action" value="Skip">Skip</button>
        <button id='rightButton' type="submit" name="action" value="Right">Right</button>
    </form>
</body>

</html>