body {
    background-color: #2E2E2E;
    align-content: center;
    color: whitesmoke;
    text-align: center;
    font-family: Noto Sans;
}

table, th, td {
    border: 2px solid whitesmoke;
    border-collapse: collapse;
}
a {
    color: aqua;
}

#startLink {
    margin-top: 5rem;
    padding: 3rem;
}

table {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
}
